/*Prototype 2 Stylsheet*/

body{
	background: #ececec;
}

.dropzone-text{
}

.center {
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
}

.image-preview{
	width: 100%;
}


.main-container{
	border-radius: 5px;	
	background: white;
}


.noIbar {
cursor:default;
}

#dragdrop-container {
	width: 200px;
	height: 200px;
	position: relative;
}

#dragzone {
	width: 150px;
	height: 150px;
	margin: 25px;
	position: absolute;
	border-style: dashed;
}

#image-input{

}

#i-video-container {
	width: auto;
}

#preview-container{

}

#overlay-container {
    position: absolute;
    color: #FFF;
    text-align: center;
    width: 100%;
    height: 100%;
    z-index: 1;
    overflow: hidden;
}

.overlay-text {
    overflow-wrap: break-word;
    font-family: "Open sans", sans-serif;
    font-weight: 100;
  	font-size: 30px;
}

#canvas-3d {
	position:absolute;
	overflow: hidden;
	z-index: 2;
}

#viewport {
    position: relative;
    height: 360px;
    width: 640px;
    margin: auto;
}

#video {
    position: absolute;
    z-index:0;
}

#interface-container{
	position: relative;
}

#interface {
	width: 230px;
	margin: auto;
}

